
body {
  margin: 0;
}

#App {
  background: #d6cdcd;
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  float: right;
  text-align: center;
  overflow: auto;
}
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #595e72;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none; }
#nav li {
	float: left; }

#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc; }

#nav li a{
		display: block;
		padding: 8px 15px;
		text-decoration: none;
    font-weight: bold;
		color: #069;
    border-right: 1px solid #ccc; 
    }
     
.LiStyle{
      display:block; 
      margin:auto;
      color: #069;
      padding: 8px 10px;
      text-decoration: none;
      display: block;
      text-align: left; 
      margin: auto; 
  }
.menu{
    display: flex;
    position:absolute;
    margin-top:20px;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color:#fff;
}
.LiBottom {
    /* position:absolute; */
    /* height: auto;
    padding: initial; */
    /* become a flex-container */
    /* its children will be flex-items */
    padding: 0px;
    display: flex;
    /* move flex-items in column */
    flex-direction: column;
  }
/*   
  body {
    padding: 20px;
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3e3f3a;
    background-color: #ffffff;
  }
  h1, h2, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #333333;
    padding: 0;
    overflow: hidden;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #AAA5A5;
    padding: 20px;
    margin: 18px 24px 0 10px;
    text-align: left;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
   background: #008CBA;
  }

#menuwrapper ul {
    list-style-type: block;
    margin: 0 24px 0 10px;
    margin-top: 18px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-size: 0.8125rem;
}

#menuwrapper li {
    float: left;
}

#menuwrapper li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menuwrapper li.dropdown {
    display: inline-block;
}

#menuwrapper li:hover {
    background: #AAA5A5;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background: #AAA5A5;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 */
